@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", "Quicksand", sans-serif;
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.postcard {
  width: 800px;
  height: 500px;
  background: rgba(255, 255, 255, 0.101);

  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  -ms-transform: rotate(2.5deg); /* IE 9 */
  -webkit-transform: rotate(2.5deg); /* Chrome, Safari, Opera */
  transform: rotate(2.5deg);
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.postcard1 {
  display: none;
}

h1 {
  text-align: center;
  font-size: 4.5em;
  color: #fdfdfd;
  margin-bottom: 5px;
}

/*animation*/
.postcard:hover,
.postcard:active,
.postcard:focus {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mail_stamp {
  width: 100px;
  float: right;
  transform: rotate(-90deg);
  position: relative;
  
}

.push {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/*footer*/
footer {
  margin: 2em auto;
  text-align: center;
  font-family: "Varela Round", "Quicksand", sans-serif;
  color: white;
}

footer p {
  font-size: 1em;
  letter-spacing: 1px;
}
p span {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0 0 20px rgb(255, 255, 255);
  color: #800020;
}
p {
  font-size: 22px;
  font-family: cursive;
  font-weight: 540;
}
.ullu {
  font-size: 25px;

  text-shadow: 0 0 20px rgb(255, 255, 255);
}
/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .postcard {
    width: 90%;
    height: auto;
    padding: 2em 1.5em;
    margin: 2em auto;
    background: rgba(245, 148, 184, 0.3);
    box-shadow: 0.5em 0.5em 10px rgba(0, 0, 0, 0.2);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .postcard1 {
    width: 90%;
    height: auto;
    left: 5%;
    padding: 2em 1.5em;
    background: #f594b862;
    box-shadow: 0.5em 0.5em 10px rgba(0, 0, 0, 0.2);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  p {
    font-size: 16px;
  }

  p span {
    font-size: 20px;
  }

  .ullu {
    font-size: 18px;
  }

  .mail_stamp {
    width: 70px;
    margin-top: 1em;
  }

  .address {
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8em;
    margin-bottom: 1.5em;
  }

  .postcard {
    width: 95%;
    padding: 1.5em 1em;
    margin: 1.5em auto;
    background: rgba(245, 148, 184, 0.4);
    box-shadow: 0.3em 0.3em 8px rgba(0, 0, 0, 0.15);
  }

  .postcard1 {
    width: 95%;
    left: 2.5%;
    padding: 1.5em 1em;
    background: #f594b862;
    box-shadow: 0.3em 0.3em 8px rgba(0, 0, 0, 0.15);
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  p span {
    font-size: 16px;
  }

  .ullu {
    font-size: 14px;
  }

  .mail_stamp {
    width: 50px;
  }

  footer p {
    font-size: 0.9em;
  }
}
