@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
body {
  height: 100%;
  width: 100%;
  background: #ea81ae;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}

.container {
  position: absolute;
  left: 59%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.glass {
  height: 350px;
  width: 200px;
}

.petals > div {
  position: absolute;
  background: #d52d58;
  width: 45px;
  height: 80px;
  top: 55px;
  transition: all 0.5s ease-out;
}
.petals > div:nth-child(1) {
  border-radius: 15px;
  box-shadow: 0px 0px 30px #f594b8;
  left: 80px;
  top: 60px;
  background: #d52d58;
}
.petals > div:nth-child(2),
.petals > div:nth-child(4),
.petals > div:nth-child(6) {
  background: #b81b43;
  left: 60px;
  border-radius: 0px 30px 0px 30px;
  transform-origin: bottom right;
}
.petals > div:nth-child(3),
.petals > div:nth-child(5),
.petals > div:nth-child(7) {
  background: #b81b43;
  left: 100px;
  border-radius: 30px 0px 30px 0px;
  transform-origin: bottom left;
}
.petals > div:nth-child(2) {
  z-index: 5;
  background: #ab1a3f;
  top: 75px;
  height: 70px;
  box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
  animation: bloom2 3s ease-in-out;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(3) {
  z-index: 4;
  background: #ab1a3f;
  top: 75px;
  height: 70px;
  box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
  animation: bloom3 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(4) {
  z-index: 3;
  background: #b81b43;
  top: 70px;
  height: 75px;
  box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
  animation: bloom4 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(5) {
  z-index: 2;
  background: #b81b43;
  top: 70px;
  height: 75px;
  box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.5);
  animation: bloom5 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(6) {
  z-index: 1;
  background: #c9204b;
  top: 65px;
  height: 70px;
  box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.3);
  animation: bloom6 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(7) {
  z-index: 0;
  background: #c9204b;
  top: 65px;
  height: 70px;
  box-shadow: 0px 0px 50px rgba(245, 148, 184, 0.3);
  animation: bloom7 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.deadPetals > div {
  position: absolute;
  background: #d52d58;
  width: 40px;
  height: 60px;
  top: 120px;
  border-radius: 15px 30px 15px 30px;
  box-shadow: 0px 0px 40px rgba(245, 148, 184, 0.6);
  transition: all 0.5s ease-out;
}
.deadPetals > div:nth-child(1) {
  left: 80px;
  transform: rotate(-30deg);
  animation: falling 6s linear -2s infinite;
}
.deadPetals > div:nth-child(2) {
  left: 101px;
  transform: rotate(-40deg);
  animation: falling 8s linear -4s infinite;
}
.deadPetals > div:nth-child(3) {
  left: 79px;
  transform: rotate(-20deg);
  animation: falling 7s linear -1s infinite;
}
.deadPetals > div:nth-child(4) {
  left: 92px;
  transform: rotate(-50deg);
  animation: falling 9s linear -3s infinite;
}

.leaves > div:nth-last-child(1) {
  position: absolute;
  width: 55px;
  height: 30px;
  background: #338f37;
  top: 120px;
  left: 75px;
  border-radius: 100px;
}
.leaves > div:nth-child(1) {
  position: absolute;
  width: 6px;
  height: 210px;
  background: #054c05;
  top: 95px;
  left: 100px;
  border-radius: 0 0 100px 100px;
}
.leaves > div:nth-child(2) {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 53px;
  border-radius: 5px 40px 20px 40px;
  background: #054c05;
  transform-origin: bottom;
  transform: rotate(-30deg);
  top: 180px;
  left: 80px;
  box-shadow: inset 5px 5px #066406;
}
.leaves > div:nth-child(3) {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 53px;
  border-radius: 40px 5px 40px 20px;
  background: #054c05;
  transform-origin: bottom;
  transform: rotate(30deg);
  top: 150px;
  left: 95px;
  box-shadow: inset -5px 5px #066406;
}

.thorns > div {
  position: absolute;
  width: 0;
  height: 0;
  top: 140px;
}
.thorns > div:nth-child(odd) {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #054c05;
  left: 105px;
}
.thorns > div:nth-child(even) {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #054c05;
  left: 95px;
}
.thorns > div:nth-child(1) {
  top: 200px;
}
.thorns > div:nth-child(2) {
  top: 170px;
}
.thorns > div:nth-child(4) {
  top: 230px;
}

@keyframes bloom2 {
  50% {
    transform: rotate(-90deg);
    top: 200px;
    left: 100px;
  }
  100% {
    transform: rotate(-60deg);
    top: 252px;
    left: 50px;
    background: #71122a;
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
  }
}
@keyframes bloom3 {
  100% {
    transform: rotate(45deg);
  }
}
@keyframes bloom4 {
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes bloom5 {
  100% {
    transform: rotate(20deg);
  }
}
@keyframes bloom6 {
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes bloom7 {
  100% {
    transform: rotate(5deg);
  }
}
@keyframes glowing {
  50% {
    background: #d7365f;
    box-shadow: 0px 0px 60px #f594b8;
  }
}
@keyframes falling {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  70% {
    transform: translateY(220px) rotate(15deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(25deg);
    opacity: 0;
  }
}
.text {
  font-family: cursive;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  color: rgb(245, 20, 84);
  text-shadow: 0 0 20px rgb(241, 94, 106);
  margin-left: -100px;
}
.text a {
  color: rgb(245, 20, 84);
}
.text a:hover {
  color: white;
  text-shadow: 0 0 20px rgb(235, 25, 42);
}
/* Mobile Responsive Styles */
/*
@media (max-width: 768px) {
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }

  .glass {
    height: 250px;
    width: 150px;
    transform: scale(0.8);
  }

  .petals > div {
    width: 35px;
    height: 60px;
    top: 45px;
  }

  .petals > div:nth-child(1) {
    left: 60px;
    top: 45px;
  }

  .petals > div:nth-child(2),
  .petals > div:nth-child(4),
  .petals > div:nth-child(6) {
    left: 45px;
    height: 55px;
    top: 55px;
  }

  .petals > div:nth-child(3),
  .petals > div:nth-child(5),
  .petals > div:nth-child(7) {
    left: 75px;
    height: 55px;
    top: 55px;
  }

  .deadPetals > div {
    width: 30px;
    height: 45px;
    top: 100px;
  }

  .deadPetals > div:nth-child(1) {
    left: 60px;
  }

  .deadPetals > div:nth-child(2) {
    left: 76px;
  }

  .deadPetals > div:nth-child(3) {
    left: 59px;
  }

  .deadPetals > div:nth-child(4) {
    left: 69px;
  }

  .leaves > div:nth-last-child(1) {
    width: 40px;
    height: 22px;
    top: 90px;
    left: 56px;
  }

  .leaves > div:nth-child(1) {
    width: 5px;
    height: 160px;
    top: 70px;
    left: 75px;
  }

  .leaves > div:nth-child(2) {
    width: 20px;
    height: 35px;
    top: 130px;
    left: 60px;
  }

  .leaves > div:nth-child(3) {
    width: 20px;
    height: 35px;
    top: 110px;
    left: 71px;
  }

  .thorns > div {
    top: 105px;
  }

  .thorns > div:nth-child(odd) {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #054c05;
    left: 79px;
  }

  .thorns > div:nth-child(even) {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid #054c05;
    left: 71px;
  }

  .thorns > div:nth-child(1) {
    top: 150px;
  }

  .thorns > div:nth-child(2) {
    top: 128px;
  }

  .thorns > div:nth-child(4) {
    top: 172px;
  }

  .text {
    font-size: 16px;
    margin-left: -50px;
    margin-top: 2em;
  }
}

@media (max-width: 480px) {
  .container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 95%;
  }

  .glass {
    height: 200px;
    width: 120px;
    transform: scale(0.6);
  }

  .petals > div {
    width: 28px;
    height: 48px;
    top: 35px;
  }

  .petals > div:nth-child(1) {
    left: 48px;
    top: 35px;
  }

  .petals > div:nth-child(2),
  .petals > div:nth-child(4),
  .petals > div:nth-child(6) {
    left: 36px;
    height: 44px;
    top: 44px;
  }

  .petals > div:nth-child(3),
  .petals > div:nth-child(5),
  .petals > div:nth-child(7) {
    left: 60px;
    height: 44px;
    top: 44px;
  }

  .deadPetals > div {
    width: 24px;
    height: 36px;
    top: 82px;
  }

  .deadPetals > div:nth-child(1) {
    left: 48px;
  }

  .deadPetals > div:nth-child(2) {
    left: 61px;
  }

  .deadPetals > div:nth-child(3) {
    left: 47px;
  }

  .deadPetals > div:nth-child(4) {
    left: 55px;
  }

  .leaves > div:nth-last-child(1) {
    width: 32px;
    height: 18px;
    top: 72px;
    left: 44px;
  }

  .leaves > div:nth-child(1) {
    width: 4px;
    height: 128px;
    top: 56px;
    left: 60px;
  }

  .leaves > div:nth-child(2) {
    width: 16px;
    height: 28px;
    top: 104px;
    left: 48px;
  }

  .leaves > div:nth-child(3) {
    width: 16px;
    height: 28px;
    top: 88px;
    left: 57px;
  }

  .thorns > div {
    top: 84px;
  }

  .thorns > div:nth-child(odd) {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #054c05;
    left: 63px;
  }

  .thorns > div:nth-child(even) {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid #054c05;
    left: 57px;
  }

  .thorns > div:nth-child(1) {
    top: 120px;
  }

  .thorns > div:nth-child(2) {
    top: 102px;
  }

  .thorns > div:nth-child(4) {
    top: 138px;
  }

  .text {
    font-size: 14px;
    margin-left: -30px;
    margin-top: 1.5em;
  }

  .text a {
    font-size: 13px;
  }
}*/
